* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

.debug .card {
    border: 5px solid black;
}

.absolute {
    position: absolute;
}

/* ************SELETTORI HEADER */
header {
    background-color: orangered;
    margin-bottom: 10rem;
}

nav {
    min-height: 50px;
    max-width: 1300px;
    margin: auto;
    color: white;
    position: relative;
}

.genere {
    left: 0px;
    top: 50%;
    transform: translatey(-50%);
}

.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 100px;
}

.profilo {
    font-size: 1.1rem;
    right: 0px;
    top: 50%;
    transform: translatey(-50%);
}

/* ***********************INIZIO MAIN */
.container-card {
    min-height: 1450px;
    max-width: 1300px;
    position: relative;
    margin: auto;
}


.card {
    width: calc((100% / 3) - 1rem);
    height: 700px;
}

.card img {
    width: 100%;
}


.card1 {
    left: 0px;
    top: 0px;
    background-color: red;
}

.card2 {
    left: 50%;
    transform: translate(-50%);
    top: 0px;
    background-color: blue;
}

.card3 {
    right: 0px;
    top: 0px;
    background-color: green;
}

.card4 {
    left: 0px;
    bottom: 0px;
    background-color: yellow;
}

.card5 {
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    background-color: orange;
}

.card6 {
    right: 0px;
    bottom: 0px;
    background-color: purple;
}